/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./bilder/red-right-dbf3ede240dcea450fd48e7116aa6424.svg);
}
.kontainer{
    width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: #f8f8f8;
}
.kontainer h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.kontainer .intro{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}
.kontainer .kolumner-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.kontainer .kolumner-3 .kolumn{
    background-color: #fff;
    border-radius:20px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    
}

.kontainer .kolumner-3 .kolumn:hover {
    box-shadow: 0 20px 10px #999;   
}

.kontainer .kolumn img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-bottom: 15px;
}
.kontainer .kolumn h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 10px;
}
.kontainer .kolumn p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 10px;
    
}
.kontainer .kolumn a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 10px;
}